<nav class="navbar border-bottom border-info-subtle">
  <div class="nav-div">
    <ul class="nav-ul">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Work</a>
      </li>
      <li>
        <a href="">Testimonials</a>
      </li>     
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <span class="vertical-line"></span>
      </li>
      <div class="moon-div">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-moon-stars mt-2 mr-2"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"
            />
            <path
              d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
            />
          </svg>
        </span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-brightness-high mt-2"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"
            />
          </svg>
        </span>
      </div>
      <div class="cv-container">
        <span class="download-btn">Download Cv</span>
      </div>
    </ul>
  </div>
</nav>
<section>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sed magni
  tempora, voluptas nesciunt officiis sapiente nam porro quibusdam beatae esse
  recusandae, magnam quisquam autem ipsa? Nobis impedit amet itaque, labore iure
  ipsa animi maxime fugit modi aliquam reprehenderit deserunt, est veniam nulla
  optio facere. Laboriosam maxime quis aspernatur dolores nulla debitis animi
  non ad consequatur aliquam reprehenderit numquam sed itaque unde, natus
  provident recusandae cupiditate, magnam asperiores officia repudiandae.
  Doloremque tempore cum, soluta eveniet, excepturi consequatur accusantium nisi
  earum sint maxime facere. Recusandae, quos ratione! Voluptas, deserunt. Enim
  doloribus, obcaecati deleniti ullam, corporis ducimus illo modi voluptates
  tempore accusantium quo? Reiciendis voluptate reprehenderit sequi minima
  praesentium, ab, cumque accusamus neque magnam quibusdam quae sapiente iusto
  quaerat non rerum omnis dolores animi quasi adipisci deleniti ex voluptatum?
  Dignissimos voluptatum, voluptas recusandae, soluta exercitationem
  reprehenderit officia dolor at tempore, repellat fuga doloremque eos optio.
  Harum ea illum hic porro repudiandae quia quisquam dolore nihil eligendi vero,
  delectus perferendis animi a maiores, at vitae qui ducimus reprehenderit
  consequuntur assumenda debitis cum veritatis quidem quod. Quam perspiciatis
  illo animi expedita molestias cumque nam eos, quisquam quia velit pariatur rem
  impedit temporibus perferendis? Quae debitis officiis nisi. Nostrum totam
  voluptates perspiciatis provident omnis eos iusto at. Cum ratione tempore
  animi dolorum qui molestias illo laudantium, rerum, dolore placeat numquam
  dolor dolorem aperiam tempora impedit asperiores, eligendi quam omnis
  consectetur fuga repellat. Enim magnam facilis, vero eius porro quae ut
  maiores delectus nihil error deleniti nesciunt temporibus, exercitationem
  placeat obcaecati dolorum accusantium. Amet corrupti labore autem modi odio
  molestiae ullam minima, repellat soluta quo et repudiandae tempora nisi
  obcaecati optio deserunt mollitia necessitatibus. Eius autem unde provident
  voluptate deserunt officia, dolores vitae non amet ipsa repellendus dicta
  incidunt reprehenderit, quam quia excepturi sed! Eligendi, ex! Distinctio,
  optio officia? Omnis impedit cum earum expedita dolorem quod! Consequuntur
  eius architecto velit est? Fugit at molestiae a architecto quia aperiam
  mollitia aliquid obcaecati facere consequatur debitis suscipit eius sequi, ut
  molestias recusandae! Expedita est aperiam itaque quas corrupti rem delectus
  voluptatibus beatae iste nisi, nam, adipisci reiciendis sed impedit pariatur
  neque, nobis quod. Blanditiis sapiente dignissimos inventore optio natus
  quibusdam laborum perspiciatis iste, nulla exercitationem vel reiciendis totam
  pariatur eveniet laboriosam accusamus odio id possimus, molestiae asperiores
  quae repellendus! Accusantium sapiente magnam, voluptas iure amet sequi ex
  perspiciatis optio provident labore voluptatibus non rerum nisi, esse,
  corporis excepturi eaque dolore id molestiae harum placeat. Quidem accusantium
  nostrum enim laudantium id dolor! Dolores reprehenderit ipsam iusto mollitia
  rerum eum ad distinctio itaque cupiditate vel unde explicabo, exercitationem,
  fugit, optio est placeat blanditiis recusandae soluta dolor architecto cumque
  pariatur neque possimus voluptate? Numquam repellendus corporis fugit,
  exercitationem ducimus dolorem commodi assumenda distinctio modi earum nisi
  porro esse a quos excepturi voluptatum eum temporibus rem ab maiores. Dolorem
  accusantium, sint harum illo nobis ducimus! Labore nisi fuga molestias hic
  rerum perspiciatis pariatur tenetur quaerat illo molestiae sint perferendis,
  dignissimos atque dolor magni magnam sequi quos aliquam dolores, saepe totam
  vitae reiciendis, architecto doloribus. Saepe beatae quos, eveniet temporibus,
  hic cupiditate dolore deleniti maxime, incidunt deserunt mollitia sed esse
  veritatis eius maiores. Doloribus maiores aliquam distinctio expedita eveniet
  cumque nihil, repudiandae sit sequi corrupti voluptatibus, molestiae
  laudantium ad? Tempore necessitatibus voluptatem, aperiam temporibus fugiat
  deleniti corrupti, illo officiis velit commodi perferendis at explicabo
  molestiae, vitae iusto eos eius? Consequatur incidunt magnam exercitationem
  sequi, doloribus est expedita et unde! Hic quaerat voluptates eius aliquid
  veniam quos dolores eos magnam, nemo distinctio officia alias velit doloribus
  perspiciatis saepe incidunt ad fugiat aspernatur corporis, sint quibusdam
  recusandae obcaecati expedita. Nihil unde adipisci quos repellat dolor aperiam
  expedita veritatis, architecto odio rem ipsum eos, neque saepe cumque, fuga
  accusamus ipsa atque ad eaque. Totam, nemo adipisci? Quae dicta minima fuga
  illo officiis nesciunt ad amet necessitatibus a, incidunt, ullam nostrum illum
  cumque perspiciatis praesentium expedita officia accusantium nobis perferendis
  consequatur voluptatem quisquam suscipit? Alias adipisci praesentium
  laboriosam dolorem ullam id molestiae, velit exercitationem nobis tempore
  fugit culpa nihil, nesciunt quo facere et ipsa eius? Provident accusamus eos
  hic modi alias amet inventore aperiam voluptatum quisquam, laborum illum rem
  natus iusto nemo quas odit eaque corporis, deserunt nostrum enim quo vel quia
  architecto! Veritatis, ipsum reprehenderit? Tempora distinctio veniam nulla
  modi sint consequuntur tenetur dolore, possimus, dolorem repellat ullam rem
  delectus deserunt suscipit esse, similique placeat nesciunt quod expedita
  temporibus veritatis dignissimos facere iusto? Consequuntur consectetur fuga
  dolore beatae a, dicta magni aperiam culpa odit ipsam fugit quasi quaerat
  repellat ab porro, ratione labore laudantium? Iste, molestiae nemo sed illo
  officiis repellendus consequuntur officia molestias magnam ad id corrupti
  nulla? Rem veniam placeat eaque nihil iste ullam! Natus corporis dolore,
  commodi ea ratione error iste. Earum sed eius facere debitis hic provident
  laboriosam incidunt magnam autem maiores quidem nam architecto aliquam, a
  eveniet temporibus. Similique aliquid ex ducimus earum modi ratione! Magni
  odio dignissimos consequatur nesciunt odit repellat in, architecto deleniti
  sed, incidunt facere obcaecati neque quibusdam laborum. Perferendis dolorem
  nesciunt officiis quis nisi ex vero, molestiae rem perspiciatis distinctio
  totam hic, quam illo adipisci repellendus commodi. A natus voluptate mollitia
  vel unde repudiandae commodi amet, illum labore pariatur fugit cum, est atque
  omnis numquam ipsa. Ducimus provident quis repudiandae quo laudantium fugiat.
  Beatae incidunt, repudiandae possimus ullam tenetur odit laboriosam veniam,
  delectus optio voluptatibus, deleniti doloremque nemo sed quasi? Provident,
  veniam nulla voluptas voluptate error sunt repellendus eaque, alias, amet
  cupiditate incidunt accusantium ratione necessitatibus. Modi eos ipsam autem
  aperiam libero suscipit ea quaerat, mollitia nostrum, consectetur eaque? Ea
  vel repudiandae in asperiores mollitia expedita ullam nihil aperiam id
  blanditiis ratione doloribus unde odit reiciendis recusandae eligendi quisquam
  necessitatibus, praesentium aspernatur facere molestiae quasi fugit! Odio
  obcaecati doloremque similique voluptates saepe hic nihil omnis, delectus
  aspernatur recusandae eligendi itaque nesciunt consequuntur beatae
  perspiciatis eveniet reprehenderit, ex animi? Quas assumenda aliquam commodi
  nulla et autem natus asperiores quod nihil delectus quo nesciunt nisi
  consequatur architecto deleniti distinctio vitae dignissimos earum, nemo,
  enim, modi reprehenderit cum atque reiciendis? Molestiae exercitationem harum
  quisquam soluta dignissimos quia aliquid, et aperiam expedita culpa? Hic,
  soluta aliquid. Quas aliquid necessitatibus repellat commodi!
</section>

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<!-- <mat-sidenav-container></mat-sidenav-container> -->
