<nav class="navbar">
  <div class="nav-div">
    <ul class="nav-ul">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Work</a>
      </li>
      <li>
        <a href="">Testimonials</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
      <span class="vertical-line"></span>
      </li>
      <li>
        <img src="" alt="">
      </li>
      <div class="cv-container">
        <span class="download-btn">Download Cv</span>
      </div>
    </ul>
  </div>
</nav>






